@font-face {
    font-family: StarJedi;
    src: url('SF Distant Galaxy Outline.ttf');
}

@font-face {
    font-family: StarJedi2;
    src: url('SF Distant Galaxy.ttf');
}

#header {
    font-family: StarJedi;
}

h1 {
    font-size: 60px;
    font-family: StarJedi;
}

#yoda-banner {
    background-position: center;
    height: 60vh;
}

#speak-like-yoda-text {
    position: relative;
    margin-bottom: 1%;
    font-size: 25px;
    font-family: StarJedi;
    left: 36%;
}

ul {
    list-style-type: none;
    font-family: StarJedi;
}

#light-dark{
    position: fixed;
    left: 46.5%;
    margin-bottom: 4%;
    border-radius: 10px;
}

#light-dark:hover {
    border-radius: 100px;
    cursor: pointer;
    transition: 0.5s;
}

#background-image {
    background-image: url('assets/yoda1.jpg');
    background-size: 120%;
}

body p{
    text-align: center;
    width: 1920px;
    font-family: StarJedi;
}

#title-text{
    text-align: center;
    width: 1920px;
    font-family: StarJedi;
    
}

#footer-text {
    position: fixed;
    text-align: left;
    top: 93%;
    left:-1.5%;
    font-size: 10pt;
}

input[type="text"]{
    width: 655px;
    height: 25px;
    border-radius: 25px;
    font-family: StarJedi2;
    margin-left: -120px;
}

#user-input{
    border-radius: 20px;
    border-color: black;
    position: fixed;
    left: 64%;
    top: 34.1%;
}

#user-input:hover{
    border-radius: 100px;
    position: fixed;
    cursor: pointer;
    transition: 0.5s;
}

#string-output{
    text-align: center;
}

.new-yodish {
    position: fixed;
    left: 760px;
}

.upvote-section{
    position: fixed;
    /* move whole div here */
    font-family: StarJedi;
}

#table-values{
    font-family: StarJedi;
    
    position: fixed;
    margin-top: 10px;
}

#upvote-button{
    position: fixed;
    margin-left: 10px;
}

.yodism-history table{
    font-family: StarJedi;
    position: fixed;
    margin-top: 15px;
    
    position: fixed;
    top: 10%;
    text-align: left;
    border: gray solid 1px;
    padding: 8px;
    width: 18%;
    height: 48rem;
    display: inline-grid;
    margin: 1rem 2rem;
    right: 80%;
}

.favorite-section table{
    position: fixed;
    top: 10.7%;
    text-align: left;
    border: gray solid 1px;
    padding: 8px;
    width: 18%;
    height: 51rem;
    display: inline-grid;
    margin: 1rem 2rem;
    right: -28px;
}

#output{
    font-size: 25px;
    top: 200px;
    font-family: StarJedi;
    margin-left: 800px;
}


/* trying to get the text to crawl up the screen on loading the page */
/* .crawl {
    position: fixed;
    top: 99999px;
    transform-origin: 50px 100px;
    animation: crawl 60s linear;
  } */