#header {
    color: #006400;
}

h1 {
    font-size: 60px;
}

ul {
    list-style-type: none;
}

body{
    text-align: center;
}

#footerText {
    position: relative;
    margin-top: 640px;
    text-align: left;
}
